{% extends 'core/base.html' %}
{% load bulma_tags %}

{% block title %}{{ category.name }} | {% endblock %}

{% block content %}
    <div class="columns is-multiline mb-6">
        <div class="column is-12 has-text-centered mt-6 mb-6">
            <h2 class="is-size-3">{{ category.name }}</h2>
        </div>

        {% for realty in realties %}
                {% include 'rent/parts/list_item.html' %}
        {% endfor %}
    </div>
<h2 class="title is-4">Поиск и сортировка</h2>
<form action="" method="get">
    {{ form|bulma }}
    <div class="field">
     <button type="submit" class="button is-primary">Поиск или сортировка</button>
   </div>
</form>
{% endblock %}