{% extends 'core/base.html' %}

{% block title %}{{ realty.city }} | {% endblock %}

{% block content %}
    {% if realty.image %}
        <figure class="image is-4by3 mb-6">
            <img src="{{ realty.image.url}}">
        </figure>
    {% endif %}
               <div class="columns">
                    <div class="column is-14 is-offset-0">
                        <div class="content is-medium">
                            {% for image in realty.images.all %}
                            {% if image.img %}
                               <img src="{{ image.img.url }}" width="265" height="200">
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>

    <h1 class="title">{{ realty.street }}, цена {{ realty.rent }} руб.</h1>

    <p class="mb-6"><span class="tag is-dark">{{ realty.staff_number }}</span></p>

    <p>{{ realty.description }}</p>

    {% if similar_products %}
        <hr>

        <div class="columns is-multiline">
            <div class="column is-12">
                <h2 class="subtitle">Similar products</h2>
            </div>

        </div>
    {% endif %}




<hr>
<h2 class="title">Все отзывы после просмотра этой квартиры</h2>
    {% if viewings %}
        {% for view in viewings %}
        <p>{{ view.view_date }}. {{ view.client_number }}:
        {{ view.comment }}. {{ view.realty_number }}</p>
        {% endfor %}
    {% else %}
        <p>Пока нет ни одного отзыва</p>
    {% endif %}
<hr>
<h3 class="title">Заявка на эту квартиру от случайного клиента </h3>
{% if sended %}
    Спасибо, ваша заявка принята!
{% endif %}
<form method="post" action="">
    {% csrf_token %}
    {{ form.as_p}}
    <button type="submit">Отправить</button>
</form>

<hr>

<h2 class="title">Оставить комментарий после просмотра этой квартиры</h2>
<form method="post">
    {% csrf_token %}
    {{ viewings_form.as_p }}
    <input type="submit" value="Создать viewings comment">
</form>
{% endblock %}


