<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
</head>
<body>
<h3>Detail</h3>
<h3>real</h3>
<p>{{ real.property_number }}</p>
<p>{{ real.street }}</p>
<p>{{ real.city }}</p>
<p>{{ real.postcode }}</p>
<p>{{ real.type }}</p>
<p>{{ real.rooms }}</p>
<p>{{ real.rent }}</p>
<p>{{ real.owner_number }}</p>

<h3>Заявка на эту квартиру от случайного клиента </h3>
{% if sended %}
    Спасибо, ваша заявка принята!
{% endif %}
<form method="post" action="">
    {% csrf_token %}
    {{ form.as_p}}
    <button type="submit">Отправить</button>

</form>

</body>
</html>