{% extends 'core/base.html' %}

{% block title %}{{ realty.realty_number }} | {% endblock %}

{% block content %}
    {% if realty.image %}
        <figure class="image is-4by3 mb-6">
            <img src="{{ realty.image.url}}">
        </figure>
    {% endif %}
        <div class="columns">
                    <div class="column is-14 is-offset-0">
                        <div class="content is-medium">
                            {% for image in realty.images.all %}
                            {% if image.img %}
                               <img src="{{ image.img.url }}" width="265" height="200">
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
        </div>
    <h1 class="title">{{ realty.realty_number }}, {{ realty.rent }} руб.</h1>

    <p class="mb-6"><span class="tag is-dark">Количество коимнат: {{ realty.rooms }}</span></p>

    <p>{{ realty.description }}</p>

    {% if similar_realties %}
        <hr>

        <div class="columns is-multiline">
            <div class="column is-12">
                <h2 class="subtitle">Similar realties</h2>
            </div>

            {% for product in similar_realties %}
                {% include 'rent/parts/list_item.html' %}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}